input,
button {
  /* height: 2rem; */
  border-radius: 5px;
  background-color: transparent;
  color: white;
  height: inherit;
  margin: 2px;
  font-family: inherit;
}

input {
  width: 180px;
  padding: 10px;
  border: 1px rgba(255, 255, 255, 0.25) solid;
}

button {
  /* width: 60px; */
  text-align: center;
  padding: 15px;
}

button:active {
  box-shadow: 1px 1px 1px #ffffff42;
}

.input {
  margin: 0 auto;
  padding: 0 auto;
  width: 250px;
  height: 50px;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
  font-family: inherit;
}

.app {
  height: auto;
  width: 500px;
  margin: 0 auto;
  padding: 0 auto;
  border: 1px whitesmoke solid;
  overflow: hidden;
  border-radius: 8px;
  padding: 10px;
  overflow: auto;
}

.output {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
  border: 1px whitesmoke solid;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  overflow: auto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

li {
  width: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  border-bottom: 1px #ffffff42 solid;
  padding: 4px;
  text-shadow: 2px 2px #00000073;
  /* list-style-type: disc; */
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: decimal;
  overflow: auto;
  overflow: auto;
}

.title {
  width: 300px;
}

.btn-mini {
  display: flex;
}
