body {
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgba(40, 44, 52, 255);
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  text-align: center;
  color: aliceblue;
}

button {
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  height: inherit;
  /* font-size: 1em; */
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}

#root {
  margin-top: 50px;
}

li {
  transition: all 6s ease; /* Adjust the duration as needed */
}
